
$gutter-full: $spacing-full;

@media only screen and (min-width : $breakpoint-3){

	.layout {
		display: grid;
		grid-gap: 0 $spacing-full;

		.column {

			&:last-child {
				padding-right: 0;
			}
		}

		&.layout--50_50 {
			grid-template-columns: 50% 50%;

			.column {

			}
		}

		&.layout--60_40 {
			grid-template-columns: 60% 40%;

			.column {

			}
		}

		&.layout--70_30 {
			grid-template-columns: 70% 30%;

			.column {

			}
		}

		&.layout--80_20 {
			grid-template-columns: 80% 20%;

			.column {

			}
		}

		&.layout--33_33_33 {
			grid-template-columns: 33% 33% 33%;

			.column {

			}
		}

		&.layout--25_25_25_25 {
			grid-template-columns: 25% 25% 25% 25%;

			.column {

			}
		}
	}
}



// ==========================================================
//Styles related to the pattern library (Not for production)
// ==========================================================

.sb-show-main {

	.layout {
		margin: -8px;//Negate Storybooks body margin
	}
}

