
.select {
	position: relative;
	max-width: $breakpoint-2; 

	.select_label {
		font-size: $_16px;
		line-height: $dimension-full;
		font-family: $font-family-regular;

		&.select_label--button {
			display: inline-block;
			height: $dimension-full;
			font-size: $_16px;
			line-height: $dimension-full;
			font-family: $font-family-regular;
			position: relative;
			background: $pattern-grey-2;
			border: 1px solid $line-colour-1;
			overflow: hidden;

			&:nth-child(2) {
				border-width: 1px 0;
			}

			input[type=radio] {
				display: block;
				width: 100%;
				height: $dimension-full;
				margin: 0;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				opacity: 0;
				cursor: pointer;

				&:checked {

					+ span {
						background: $pattern-grey-1;
					}
				}
			}

			span {
				display: block;
				padding: 0 $spacing-full;
			}
		}
	}

	.select_input {
		display: block;
		box-sizing: border-box;
		display: block;
		width: 100%;
		padding: $spacing-quarter;
		border: 1px solid $line-colour-1;
		border-radius: 0;
		line-height: $dimension-half;
		font-size: $_16px;
		font-family: $font-family-regular;
		height: $dimension-full;
		-webkit-appearance: none;
		background: transparent;
		@include fadeIn(border-color);
		position: relative;
		z-index: 2;

		&:hover {
			border-color: $action-colour;
		}

		&:focus, &:active {
			outline: none;
			border-color: $active-colour;
		}

		&:focus + span:after {
			//transform: rotate(180deg);
		}
	}

	> span {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		
		&:after {
			content: "\e902";
			font-family: $font-family-icon;
			display: block;
			width: $dimension-full;
			height: $dimension-full;
			line-height: $dimension-full;
			text-align: center;
			font-size: $_30px;
			color: $line-colour-1;
			z-index: 1;
		}
	}
}