
.checkbox {
	position: relative;
	padding-left: calc(#{$dimension-half} + #{$dimension-quarter});
	line-height: 30px;

	.label_text {
		font-family: $font-family-regular;
		font-size: $_16px;
		line-height: calc(#{$dimension-half} + 1px);
	}

	input {
		width: calc(#{$dimension-half} + 2px);
		height: calc(#{$dimension-half} + 2px);
		position: absolute;
		top: -3px;
		left: 0;
		-webkit-appearance: none;
		opacity: 0;
		z-index: 99;
		cursor: pointer;


		&:focus ~ em:before {
			border-color: $active-colour;
		}

		&:hover ~ em:before {
			border-color: $action-colour;
		}

		&:checked ~ em:before {
			font-family: $font-family-icon;
			content: "\e901";
			border-color: $line-colour-1;
			font-size: $_16px;
			color: $text-colour-1;
		}
	}

	em {
		font-style: normal;

		&:before {
			content: " ";
			display: block;
			position: absolute;
			top: -3px;
			left: 0;
			width: $dimension-half;
			height: $dimension-half;
			line-height: calc(#{$dimension-half} + 1px);
			text-indent: 1px;
			text-align: center;	
			border: 1px solid $line-colour-1;
			background: $background-colour-1;
			transition: border-color .3s ease-in-out;
		}
	}
}