
/*------------------------------------*\
    #COLOURS
\*------------------------------------*/

//Raw palette --

$pattern-black: #000000;
$brand-1: $pattern-black;

$pattern-offblack: #222222;
$brand-2: $pattern-offblack;

$pattern-white: #ffffff;
$brand-3: $pattern-white;

$pattern-offwhite: #F0EDE9;
$brand-4: $pattern-offwhite;

$pattern-grey-1: #999999;
$brand-5: $pattern-grey-1;

$pattern-grey-2: #cccccc;
$brand-6: $pattern-grey-2;

$pattern-grey-3: #eeeeee;
$brand-6: $pattern-grey-3;

$pattern-green-1: #5d913f;
$brand-7: $pattern-green-1;

$pattern-blue-1: #24cfe2;
$brand-8: $pattern-blue-1;

$pattern-orange-1: #CA5E40;
$brand-9: $pattern-orange-1;

$pattern-red-1: #b91438;
$brand-10: $pattern-red-1;


//Functional pallette --

$line-colour-1: $brand-5;
$line-colour-2: $brand-6;
$shadow-colour-1: $brand-1;

$action-colour: $brand-6;
$active-colour: $brand-5;

$background-colour-1: $brand-3;

$text-colour-1: $brand-2;
$text-colour-2: $brand-3;

$link-colour: $action-colour;

$primary-button-background: $pattern-grey-1;
$primary-button-background-hover: $pattern-grey-2;
$primary-button-border: $pattern-grey-1;
$primary-button-border-hover: $pattern-grey-2;
$primary-button-colour: $text-colour-2;
$primary-button-colour-hover: $text-colour-2;
$primary-button-background-disabled: $text-colour-1;
$primary-button-border-disabled: $brand-5;
$primary-button-colour-disabled: $brand-3;

$secondary-button-background: transparent;
$secondary-button-background-hover: transparent;
$secondary-button-border: $pattern-grey-1;
$secondary-button-border-hover: $pattern-grey-1;
$secondary-button-colour: $pattern-grey-1;
$secondary-button-colour-hover: $pattern-grey-1;
$secondary-button-background-disabled: transparent;
$secondary-button-border-disabled: $brand-5;
$secondary-button-colour-disabled: $brand-5;

$message-colour-success: $brand-7;
$message-colour-warning: $brand-9;
$message-colour-information: $text-colour-1;
$message-colour-error: $brand-10;

$message-background-success: $brand-7;
$message-background-warning: $brand-9;
$message-background-information: $brand-8;
$message-background-error: $brand-10;

.token-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .list_item {
        margin: 0;
        text-align: center;
        color: #666;

        > div {
            border: 1px solid #ccc;
            border-width: 1px 0 0 0;
            padding: 20px;
        }
    }
}




 