
.splash {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	background: $pattern-grey-1;
	width: 100vw;
	height: 100vh;

	.splash_inner {
		display: table-cell;
		vertical-align: middle;
		padding: $spacing-full $spacing-full 100px $spacing-full;

		.greeting, .greeting2 {
			font-size: $_22px;
			font-family: $font-family-regular;
			color: $text-colour-2;
			opacity: 0;
		}

		.greeting {
			font-family: $font-family-regular;
			font-size: $_30px;
			animation: fadeInAnim 1s 0s linear forwards
		}

		.greeting2 {
			font-size: $_16px;
			animation: fadeInAnim 1s .5s linear forwards
		}
	}
}

