
.t2 {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	margin: 2em 0 1em;
	font-weight: 400;
	line-height: 1.15;
	font-size: $_14px;
	font-family: $font-family-regular;
}

@media only screen and (min-width : $breakpoint-4){

	.t2 {
		font-size: $_16px;
	}
}