
.textarea {
	max-width: $breakpoint-2;

	.textarea_label {
		font-size: $_16px;
		line-height: $dimension-full;
		font-family: $font-family-regular;
	}

	.textarea_input {
		box-sizing: border-box;
		display: block;
		width: calc(100% - #{$spacing-half});
		padding: $spacing-quarter;
		margin-bottom: $spacing-quarter;
		border: 1px solid $line-colour-1;
		font-family: $font-family-regular;
		font-size: 1.2rem;
		line-height: 1.6rem;
		-webkit-appearance: none;
		background: $background-colour-1;
		box-sizing: content-box;
		resize: none;
		overflow: hidden;
		transition: height .1s ease-in-out, border-color .3s ease-in-out;

		&:hover {
			border-color: $action-colour;
		}

		&:focus {
			outline: none;
			border-color: $active-colour;
		}
	}

	.textarea_message {
		margin-top: $spacing-half;
		font-family: $font-family-regular;
		text-align: right;

		&.textarea_message--success {
			color: $message-error;
		}

		&.textarea_message--information {
			color: $text-colour-1;
		}

		&.textarea_message--warning {
			color: $message-warning;
		}

		&.textarea_message--error {
			color: $message-success;
		}
	}
}

