
.h4  {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	margin: 2em 0 1em;
	font-weight: 400;
	line-height: 1.15;
	font-family: $font-family-heading;
	color: $text-colour-1; 
	font-size: $_16px;

	&:first-child {
		margin-top: 0;
	}
}

@media only screen and (min-width : $breakpoint-4){

	.h4  {
		font-size: $_25px;
	}
}