
.primary-navigation_trigger {
	position: absolute;
	top: $spacing-half;
	right: $spacing-half;
	border: 1px solid $line-colour-2 !important;
	width: $dimension-full;
	padding: 0 !important;
	border-radius: $border-radius-half;
} 

.primary-navigation {
	box-sizing: border-box;
	background: $pattern-grey-1;
	width: 100vw;
	height: 100vh;
	padding: $spacing-double;
	position: fixed;
	top: 0;
	left: -100vw;
	@include slide(left);

	&.primary-navigation--visible {
		left: 0;
	}

	 .primary-navigation_list {
	 	list-style: none;
	 	margin: 0;
	 	padding: 0;

		 .primary-navigation_list-item {
		 	display: block;
		 	margin: 0 0 $spacing-quarter 0;

			 .primary-navigation_link {
			 	display: block;
			 	padding: $spacing-half 0;
			 	line-height: $_24px;
			 	text-decoration: none;
			 	font-family: $font-family-bold;
				color: $text-colour-1;
				cursor: pointer;

				.link_text {
					padding-bottom: $spacing-quarter;
					border-bottom: 1px solid transparent;
				}
		
			 	&:hover {
					text-decoration: underline;
					 
					.link_text {
						border-color: solid $text-colour-1;
					}
			 	}
			 }
		}

	}
}

@media only screen and (min-width : $breakpoint-4){

	.primary-navigation_trigger {
		display: none !important;
	}

	.primary-navigation {
		background: none;
		width: 100vw;
		height: auto;
		padding: $spacing-full 0;
		position: static;
		top: auto;
		left: auto;

		 .primary-navigation_list {
			 max-width: $breakpoint-4;
			 margin: 0 auto;
	
			 .primary-navigation_list-item {
				 display: inline-block;
				 margin: 0;
				 padding: 0 $spacing-full 0 0;
			}
	
		}
	}


}
