.text-input {
		margin-bottom: $spacing-full;
	
	.text-input_label {
		font-size: $_16px;
		line-height: $dimension-full;
		font-family: $font-family-regular;
	}

	input {
		box-sizing: border-box;
		display: block;
		width: 100%;
		max-width: $breakpoint-2; 
		padding: $spacing-quarter;
		border: 1px solid $line-colour-1;
		line-height: $dimension-full;
		font-size: $_16px;
		font-family: $font-family-regular;
		height: $dimension-full;
		-webkit-appearance: none;
		background: $background-colour-1;
		@include fadeIn(border-color);

		&:hover {
			border-color: $action-colour;
		}

		&:focus, &:active {
			border-color: $active-colour;
		}
	}

	.text-input_message {
		margin-top: $spacing-half;
		font-family: $font-family-regular;

		&.text-input_message--success {
			color: $message-success;
		}

		&.text-input_message--information {
			color: $message-information;
		}

		&.text-input_message--warning {
			color: $message-warning;
		}

		&.text-input_message--error {
			color: $message-error;
		}
	}
}

