
$gutter-full: $spacing-full;

@media only screen and (min-width : $breakpoint-3){

	.layout {
		display: flex;

		.column {
			padding-right: $gutter-full;
			flex: 1 1 100%;

			&:last-child {
				padding-right: 0;
			}
		}

		&.layout--50_50 {

			.column {

			}
		}

		&.layout--60_40 {
			flex-basis: auto;

			.column {
				flex-basis: auto;

				&:nth-child(1){
					width: 60%;
				}

				&:nth-child(2){
					width: 40%;
				}
			}
		}

		&.layout--70_30 {

			.column {
				flex-basis: auto;

				&:nth-child(1){
					width: 70%;
				}

				&:nth-child(2){
					width: 30%;
				}
			}
		}

		&.layout--80_20 {

			.column {
				flex-basis: auto;

				&:nth-child(1){
					width: 80%;
				}

				&:nth-child(2){
					width: 20%;
				}
			}
		}

		&.layout--33_33_33 {

			.column {

			}
		}
	}
}



// ==========================================================
//Styles related to the pattern library (Not for production)
// ==========================================================

.sb-show-main {

	.layout {
		min-height: 200px;
		margin: -8px;//Negate Storybooks body margin

		.column {

			div {
				background: $line-colour-2;
				display: block;
				padding: $spacing-full;
			}

			&:nth-child(1) {

				div {
					height: 200px;
				}
			}

			&:nth-child(2) {

				div {
					height: 100px;
				}
			}

			&:nth-child(3) {

				div {
					height: 200px;
				}
			}
		}
	}
}

