
.pane {

	.pane_inner {

	}

	&.pane--vertical-centre {
		display: table;
		width: 100%;
		min-height: 100vh;

		.pane_inner {
			display: table-cell;
			vertical-align: middle;
		}
	}
}


@media only screen and (min-width : $breakpoint-2){

}